.slider-container {
  width: 100%;
  /* Remove height: 100vh to allow page scrolling */
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 800px; /* or any height you want for the slider */
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.slider-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}