.register-page {
  width: 100%;
}

.register-row {
  min-height: 100vh;
}

/* LEFT */
.slider-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* RIGHT */
.form-col {
  padding: 2rem;
  background-color: #f8f9fa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
}

.register-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
